<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <div class="center">
          	<%= link_to image_tag("Nexoplex WIP2.png", alt: "Nexoplex", :width => 100), 'http://www.nexoplex.com', id: "logo" %>
          </div>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Sign in",    '#' %></li>
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Search", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>